body{
  margin: 0;
  font-family: "cairo", sans-serif;
  text-align: center;
}
#rodape{
  background-color: rgb(245, 245, 245);
  height: 45px;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  color: #555555;
  align-items: center;
  text-align: center;
}

#email{
text-align: center;
}

#icone{
  color: rgb(29, 29, 29);
  font-size: 13px;
  padding: 10px;
}

#esq_menu{
  display: flex;
  width: 100%;
  justify-content: left;
}

.dropbtn {
  color: rgb(46, 46, 46);
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #252525;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(245, 245, 245);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #363636;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(245, 245, 245)}

.main{
padding-top: 1vh;
display: grid;
grid-template-columns: 20% 14% 26% 20%;
grid-template-rows: 60px 80px 450px;
}

.main > div:nth-child(3){
grid-column: 3 / 5;
} 

.main > div:nth-child(6){
grid-column: 3 / 5;
grid-row: 2;
} 

.main > div:nth-child(5){
grid-column: 2;
grid-row-start: 2;
grid-row-end: 4;
} 

.main > div:nth-child(9){
grid-column: 3 / 5;
grid-row: 3;
} 

#logo{
border: 1px solid;
background-image: url(fotos/logo.png);
background-repeat: no-repeat;
}

#nav{
border: 1px solid;
}

#menu{
border: 1px solid;
}

#busca{
border: 1px solid;
}

#banner{
border: 1px solid;
background-image: url(fotos/banner.jpg);
background-repeat: no-repeat;
background-position: 70% right;
background-size: cover;
text-align: left;
padding-top: 10vh;
padding-left: 5vw;
}

#produtos1{
display: grid;
grid-template-columns: 20% 1fr 1fr 1fr 1fr 20%;
grid-template-rows: 30vh;
padding-top: 2vh;
padding-bottom: 2vh;
}

#p1{
border: 1px solid;
  background-image: url(fotos/amendobobo.jpg);
}

#p2{
border: 1px solid;
  background-image: url(fotos/laranja.jpg);

}

#p3{
border: 1px solid;
  background-image: url(fotos/carne.jpg);

}

#p4{
border: 1px solid;
  background-image: url(fotos/sacola.jpg);

}

#categorias{
display: flex;
text-align: center;
justify-content: space-between;
padding-left: 40%;
padding-right: 40%;
}

#produtos2{
display: grid;
grid-template-columns: 20% 1fr 1fr 1fr 1fr 20%;
grid-template-rows: 30vh 10vh 30vh 10vh;
}

#fotos{
padding-top: 10vh;
display: grid;
grid-template-columns: 20% 1fr 1fr 20%;
grid-template-rows: 30vh;
}

#verde{
  background-color: #7fad39;
  width: 7vw;
  color: white;
}

#texto_verde{
  color: #7fad39;
}

#navegacao{
  display: flex;
  justify-content: space-between;
  padding-right: 5vw;
  width: 50%;
}

#rodape-baixo{
  background-color: rgb(245, 245, 245);
  height: 45vh;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  color: #555555;
  align-items: center;
  text-align: center;
  position: relative;
  bottom: 0%;
}